<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Stock Alert</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous">

    {% load static %}
    <link rel="icon" href="{% static 'stocks/images/business-5475664_1920.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stocks/style.css' %}?version={% now 'U' %}">

    <script src="https://kit.fontawesome.com/32b71229f3.js" crossorigin="anonymous"></script>
